.section1 {
  height: 100vh;
  margin-top: 15px;
  background: red;
}
.section2 {
  height: 100vh;
  margin-top: 15px;
  background: green;
}
.section3 {
  height: 100vh;
  margin-top: 15px;
  background: blue;
}

.text-green {
  color: green;
}

.text-red {
  color: red;
}

.text {
  width: clamp(350px, 75%, 800px);
}
