@import "../../../../assets/styles/variables.scss";

p {
  margin: 0;
}

.sub-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  color: $color-black;
  padding: 20px 0;
}
