@import "../../../../assets/styles/variables.scss";

p {
  margin: 0;
}

.sub-header--inner div {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  font-size: 18px;
  color: $color-black;
  margin: 0;
  height: 100%;
  min-height: calc(100vh - 90px);
  background-color: #fff;
  padding: 30px 0 0 30px;
  a {
    padding: 15px 15px;
    width: 100%;
    text-align: center;
    border-radius: 15px 0 0 15px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    span {
      margin-right: 10px;
    }
  }
}

.is-selected {
  background-color: #efefee;
  position: relative;
  // transition: all 1s ease-in-out;
  &::before {
    content: "";
    position: absolute;
    background-color: transparent;
    top: -49px;
    height: 50px;
    transform: rotate(180deg);
    width: 25px;
    right: 15px;
    border-top-left-radius: 25px;
    box-shadow: 0 -25px 0 0 #efefef;
  }
  &::after {
    content: "";
    position: absolute;
    background-color: transparent;
    top: 42px;
    transform: rotate(90deg);
    height: 50px;
    width: 25px;
    right: 28px;
    border-top-left-radius: 25px;
    box-shadow: 0 -25px 0 0 #efefef;
  }
}
