<div class="ats__body__inner">
  <div class="flex p-b">
    <div class="start"><h1>Search Vacancy</h1></div>
    <div class="p-l"></div>
    <div class="end"></div>
  </div>
  <form class="search__main search-open panel" (ngSubmit)="search()">
    <div class="row">
      <div class="col-2">
        <label class="input-wrapper">
          <div class="input-header">
            <span class="input__title">Job Title</span>
          </div>
          <input
            name="jobTitle"
            [(ngModel)]="jobTitle"
            class="input"
            placeholder="Job Title"
            class="input"
          />
        </label>
      </div>
      <div class="col-1"></div>
      <div class="col-2">
        <label class="input-wrapper">
          <div class="input-header">
            <span class="input__title">Salary</span>
          </div>
          <input
            name="salary"
            [(ngModel)]="salary"
            class="input"
            placeholder="Salary"
            type="number"
            class="input"
          />
        </label>
      </div>
      <div class="col-1"></div>
      <div class="col-3">
        <label class="input-wrapper">
          <div class="input-header">
            <span class="input__title">Salary Type</span>
          </div>
          <ng-select
            name="salaryType"
            [items]="salaryType$ | async"
            bindLabel="value"
            [(ngModel)]="salaryType"
            placeholder="Salary Type"
            [clearable]="true"
            bindValue="value"
          >
          </ng-select>
        </label>
      </div>
      <div class="col-3"></div>
      <div class="col-3">
        <label class="input-wrapper">
          <div class="input-header">
            <span class="input__title">Business Area</span>
          </div>
          <ng-select
            name="businessArea"
            [items]="businessArea$ | async"
            bindLabel="value"
            [(ngModel)]="businessArea"
            placeholder="Business Area"
            [clearable]="true"
            bindValue="value"
          >
          </ng-select>
        </label>
      </div>
      <div class="col-3">
        <label class="input-wrapper">
          <div class="input-header">
            <span class="input__title">Employment Type</span>
          </div>
          <ng-select
            name="employmentType"
            [items]="employmentType$ | async"
            bindLabel="value"
            [(ngModel)]="employmentType"
            placeholder="Employment Type"
            [clearable]="true"
            bindValue="value"
          >
          </ng-select>
        </label>
      </div>
      <div class="col-3">
        <label class="input-wrapper">
          <div class="input-header">
            <span class="input__title">Contract Type</span>
          </div>
          <ng-select
            name="contractType"
            [items]="contractType$ | async"
            bindLabel="value"
            [(ngModel)]="contractType"
            placeholder="Contract Type"
            [clearable]="true"
            bindValue="value"
          >
          </ng-select>
        </label>
      </div>
      <div class="col-3">
        <label class="input-wrapper" for="location">
          <div class="input-header">
            <span class="input__title">Location</span>
          </div>
          <ng-select
            name="location"
            [items]="location$ | async"
            bindLabel="name"
            [(ngModel)]="location"
            placeholder="Location"
            [clearable]="true"
            bindValue="name"
          >
          </ng-select>
        </label>
      </div>
    </div>
    <div class="col-3 t-r">
      <button mat-raised-button color="primary" type="submit">Search</button>
    </div>
  </form>
  <div class="search-header">
    <div></div>
    <div class="col-A">Job Title</div>
    <div class="col-B">Salary</div>
    <div class="col-C">Salary Type</div>
    <div class="col-D">Business Area</div>
    <div class="col-E">Employment Type</div>
    <div class="col-F">Contract Type</div>
    <div class="col-G">Location</div>
    <div></div>
  </div>
  <div *ngFor="let item of vacancies$ | async">
    <div class="search-list">
      <div class="col-A">{{ item.jobTitle }}</div>
      <div class="col-B">{{ item.salary }}</div>
      <div class="col-C">{{ item.salaryType }}</div>
      <div class="col-D">{{ item.businessArea }}</div>
      <div class="col-E">{{ item.employmentType }}</div>
      <div class="col-F">{{ item.contractType }}</div>
      <div class="col-G">{{ item.location }}</div>
    </div>
  </div>
</div>
