<div class="flex">
  <div class="start"><h1>Vacancies</h1></div>
  <div class="end">
    <button mat-raised-button>
      <a routerLink="/create">Create</a>
    </button>
  </div>
</div>
<ul *ngFor="let item of vacancies$ | async" class="simple-bar">
  <li>{{ item.jobTitle }}</li>
  <li>{{ item.salary }}</li>
  <li>{{ item.salaryType }}</li>
  <li>{{ item.businesArea }}</li>
  <li>{{ item.employmentType }}</li>
  <li>{{ item.contractType }}</li>
  <li>{{ item.location }}</li>
  <div class="end">
    <button
      mat-stroked-button
      class="btn btn-success i-b"
      [routerLink]="['vacancyView/', item._id]"
    >
      View
    </button>
  </div>
</ul>

<!-- <a [routerLink]="['vacancyView/', item._id]"></a> -->
