@import "../../../../assets/styles/variables.scss";

a {
  cursor: pointer;
}

ul {
  list-style: none;
}

.logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 0;
  h1 {
    margin: 13px !important;
  }
}

.nav {
  flex-grow: 1;
  justify-content: flex-end;
  display: flex;
  align-items: center;
  a {
    text-decoration: none;
    color: $dirty-white;
    margin: 0 10px;
    font-size: 18px;
  }
}

.header {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  background: $header;
  height: 60px;
  z-index: 5;
  color: $dirty-white;
}

.is-active {
  text-decoration: underline;
}
