@import "../../../../assets/styles/variables.scss";

h1 {
  margin: 0;
}

a {
  cursor: pointer;
}

ul {
  list-style: none;
}

.logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 0;
  h1 {
    margin: 13px;
  }
}

.nav {
  flex-grow: 1;
  justify-content: flex-end;
  display: flex;
  margin: 20px 0;
  display: flex;
  align-items: center;
  a {
    text-decoration: none;
    color: $dirty-white;
    margin-right: 15px;
    font-size: 18px;
  }
  li:hover {
    background-color: rgba(255, 59, 63, 0.6);
    // background-color: green;
  }
}

.header {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  background: $watermelon;
  height: 60px;
  z-index: 5;
  color: $dirty-white;
}
