<div class="form-body-max">
  <form class="form-card" [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="row">
      <div class="col-2">
        <label class="input-wrapper">
          <div class="input-header">
            <span class="input__title">Title</span>
          </div>
          <ng-select
            [clearable]="true"
            [items]="titles$ | async"
            formControlInput="titles"
            bindLabel="titles"
            bindValue="id"
          >
          </ng-select>
        </label>
      </div>
      <div class="col-1"></div>
      <div class="col-3">
        <label class="input-wrapper">
          <div class="input-header">
            <span class="input__title">Salary</span>
          </div>
          <input
            name="salary"
            formControlName="salary"
            id="salary"
            placeholder="salary"
            type="number"
          />
        </label>
      </div>
      <div class="col-3">
        <label class="input-wrapper">
          <div class="input-header">
            <span class="input__title">Salary Type</span>
          </div>
          <input
            name="salaryType"
            formControlName="salaryType"
            id="salaryType"
            placeholder="salaryType"
          />
        </label>
      </div>
      <div class="col-3"></div>
      <div class="col-3">
        <label class="input-wrapper">
          <div class="input-header">
            <span class="input__title">Business Area</span>
          </div>
          <input
            name="businessArea"
            formControlName="businessArea"
            id="businessArea"
            placeholder="businessArea"
          />
        </label>
      </div>
      <div class="col-3">
        <label class="input-wrapper">
          <div class="input-header">
            <span class="input__title">Employment Type</span>
          </div>
          <input
            name="employmentType"
            formControlName="employmentType"
            id="employmentType"
            placeholder="employmentType"
          />
        </label>
      </div>
      <div class="col-3">
        <label class="input-wrapper">
          <div class="input-header">
            <span class="input__title">Contract Type</span>
          </div>
          <input
            name="contractType"
            formControlName="contractType"
            id="contractType"
            placeholder="contractType"
          />
        </label>
      </div>
      <div class="col-3">
        <label class="input-wrapper">
          <div class="input-header">
            <span class="input__title">location</span>
          </div>
          <ng-select
            [clearable]="true"
            [items]="countries$ | async"
            formControlInput="country"
            bindLabel="countries"
            bindValue="id"
          >
          </ng-select>
        </label>
      </div>
    </div>
    <div *ngIf="this._router.url == '/vacancy/vacancies/create'">
      <button mat-raised-button color="primary" type="submit">Create</button>
    </div>
    <div *ngIf="this._router.url != '/vacancy/vacancies/create'">
      <button mat-raised-button color="primary" (click)="save()" type="button">
        Save
      </button>
    </div>
  </form>
</div>
