<div style="text-decoration: underline">Posts</div>
<div *ngFor="let postItem of posts$ | async | slice: 0:10" class="list__style">
  <div>{{ postItem.id }}</div>
  <div>{{ postItem.title }}</div>
</div>

<ng-select>
  <ng-option *ngFor="let postItem of posts$ | async" [value]="postItem.id">{{
    postItem.title
  }}</ng-option>
</ng-select>

<br />

<div style="text-decoration: underline">Axis</div>
<div *ngFor="let item of axis$ | async">
  <div>{{ item }}</div>
</div>

<ng-select
  [items]="axis$ | async"
  bindLabel="axis"
  bindValue="id"
  [clearable]="true"
>
</ng-select>
