<div class="form-body-max">
  <form class="form-card" [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="row">
      <div class="col-3">
        <label class="input-wrapper">
          <div class="input-header">
            <span class="input__title">First Name</span>
          </div>
          <input
            name="firstname"
            formControlName="firstname"
            id="firstname"
            placeholder="firstname"
          />
        </label>
      </div>
      <div class="col-3">
        <label class="input-wrapper">
          <div class="input-header">
            <span class="input__title">Surname</span>
          </div>
          <input
            name="Surname"
            formControlName="surname"
            id="Surname"
            placeholder="Surname"
          />
        </label>
      </div>
      <div class="col-6"></div>
      <div class="col-3">
        <label class="input-wrapper">
          <div class="input-header">
            <span class="input__title">Mobile</span>
          </div>
          <input
            name="mobile"
            formControlName="mobile"
            id="mobile"
            placeholder="mobile"
          />
        </label>
      </div>
      <div class="col-3">
        <label class="input-wrapper">
          <div class="input-header">
            <span class="input__title">Age</span>
          </div>
          <input name="age" formControlName="age" id="age" placeholder="age" />
        </label>
      </div>
      <div class="col-3">
        <label class="input-wrapper">
          <div class="input-header">
            <span class="input__title">City</span>
          </div>
          <input
            name="city"
            formControlName="city"
            id="city"
            placeholder="city"
          />
        </label>
      </div>
      <div class="col-3">
        <label class="input-wrapper">
          <div class="input-header">
            <span class="input__title">County</span>
          </div>
          <input
            name="county"
            formControlName="county"
            id="county"
            placeholder="county"
          />
        </label>
      </div>
      <div class="col-3">
        <label class="input-wrapper">
          <div class="input-header">
            <span class="input__title">Country</span>
          </div>
          <input
            name="country"
            formControlName="country"
            id="country"
            placeholder="country"
          />
        </label>
      </div>
      <div class="col-3">
        <label class="input-wrapper">
          <div class="input-header">
            <span class="input__title">Email</span>
          </div>
          <input
            name="email"
            formControlName="email"
            id="email"
            placeholder="email"
          />
        </label>
      </div>
      <div class="col-3">
        <label class="input-wrapper">
          <div class="input-header">
            <span class="input__title">Postcode</span>
          </div>
          <input
            name="postcode"
            formControlName="postcode"
            id="postcode"
            placeholder="postcode"
          />
        </label>
      </div>
      <div class="col-3">
        <label class="input-wrapper">
          <div class="input-header">
            <span class="input__title">DOB</span>
          </div>
          <input name="DOB" formControlName="DOB" id="DOB" placeholder="DOB" />
        </label>
      </div>
    </div>
    <div>
      <button mat-raised-button color="primary" type="submit">Submit</button>
    </div>
  </form>
</div>
