<div class="form-body-max">
  <form class="form-card" [formGroup]="form" (ngSubmit)="onSubmit()">
    <div>Username: {{ this.username }}</div>
    <div class="row">
      <div class="col-4">
        <label class="input-wrapper">
          <div class="input-header">
            <span class="input__title">Id</span>
          </div>
          <input name="id" formControlName="_id" id="id" placeholder="id" />
        </label>
      </div>
      <div class="col-4">
        <label class="input-wrapper">
          <div class="input-header">
            <span class="input__title">First Name</span>
          </div>
          <input
            name="firstname"
            formControlName="firstname"
            id="firstname"
            placeholder="firstname"
          />
        </label>
      </div>
      <div class="col-4">
        <label class="input-wrapper">
          <div class="input-header">
            <span class="input__title">Surname</span>
          </div>
          <input
            name="Surname"
            formControlName="surname"
            id="Surname"
            placeholder="Surname"
          />
        </label>
      </div>
      <div class="col-4">
        <label class="input-wrapper">
          <div class="input-header">
            <span class="input__title">Phone</span>
          </div>
          <input
            name="Phone"
            formControlName="phone"
            id="Phone"
            placeholder="Phone"
          />
        </label>
      </div>
      <div class="col-4">
        <label class="input-wrapper">
          <div class="input-header">
            <span class="input__title">Website</span>
          </div>
          <input
            name="Website"
            formControlName="website"
            id="Website"
            placeholder="Website"
          />
        </label>
      </div>
      <div class="col-4">
        <label class="input-wrapper">
          <div class="input-header">
            <span class="input__title">Company Name</span>
          </div>
          <input
            name="Company"
            formControlName="companyName"
            id="Company"
            placeholder="Company"
          />
        </label>
      </div>
      <div class="col-4">
        <label class="input-wrapper">
          <div class="input-header">
            <span class="input__title">suite</span>
          </div>
          <input
            name="suite"
            formControlName="suite"
            id="suite"
            placeholder="suite"
          />
        </label>
      </div>
      <div class="col-4">
        <label class="input-wrapper">
          <div class="input-header">
            <span class="input__title">street</span>
          </div>
          <input
            name="street"
            formControlName="street"
            id="street"
            placeholder="street"
          />
        </label>
      </div>
      <div class="col-4">
        <label class="input-wrapper">
          <div class="input-header">
            <span class="input__title">city</span>
          </div>
          <input
            name="city"
            formControlName="city"
            id="city"
            placeholder="city"
          />
        </label>
      </div>
      <div class="col-4">
        <label class="input-wrapper">
          <div class="input-header">
            <span class="input__title">zipcode</span>
          </div>
          <input
            name="zipcode"
            formControlName="zipcode"
            id="zipcode"
            placeholder="zipcode"
          />
        </label>
      </div>
    </div>
    <div>
      <button type="submit">Submit</button>
    </div>
  </form>
</div>
