<div class="flex title">
  <div class="start"><h1>User</h1></div>
  <div class="end"></div>
</div>
<div class="form-body-max">
  <form class="form-card" [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="row">
      <div class="col-3">
        <label class="input-wrapper">
          <div class="input-header">
            <span class="input__title">Title</span>
          </div>
          <ng-select
            [items]="titles$ | async"
            bindLabel="value"
            formControlName="title"
            placeholder="Title"
            [clearable]="true"
            bindValue="value"
          >
          </ng-select>
        </label>
      </div>
      <div class="col-9"></div>
      <div class="col-2">
        <label class="input-wrapper">
          <div class="input-header">
            <span class="input__title">First Name</span>
          </div>
          <input
            name="firstname"
            formControlName="firstname"
            class="input"
            placeholder="First Name"
          />
        </label>
      </div>
      <div class="col-1"></div>
      <div class="col-2">
        <label class="input-wrapper">
          <div class="input-header">
            <span class="input__title">Surname</span>
          </div>
          <input
            name="Surname"
            formControlName="surname"
            class="input"
            placeholder="Surname"
          />
        </label>
      </div>
      <div class="col-1"></div>
      <div class="col-6"></div>
      <div class="col-2">
        <label class="input-wrapper">
          <div class="input-header">
            <span class="input__title">Mobile</span>
          </div>
          <input
            name="mobile"
            formControlName="mobile"
            class="input"
            placeholder="Mobile"
          />
        </label>
      </div>
      <div class="col-1"></div>
      <div class="col-2">
        <label class="input-wrapper">
          <div class="input-header">
            <span class="input__title">DOB</span>
          </div>
          <input
            name="DOB"
            formControlName="DOB"
            class="input"
            placeholder="DOB"
          />
        </label>
      </div>
      <div class="col-1"></div>
      <div class="col-2">
        <label class="input-wrapper">
          <div class="input-header">
            <span class="input__title">Age</span>
          </div>
          <input
            name="age"
            formControlName="age"
            class="input"
            placeholder="Age"
          />
        </label>
      </div>
      <div class="col-1"></div>
      <div class="col-2">
        <label class="input-wrapper">
          <div class="input-header">
            <span class="input__title">Address</span>
          </div>
          <input
            name="address"
            formControlName="address"
            class="input"
            placeholder="Address"
          />
        </label>
      </div>
      <div class="col-1"></div>
      <div class="col-2">
        <label class="input-wrapper">
          <div class="input-header">
            <span class="input__title">City</span>
          </div>
          <input
            name="city"
            formControlName="city"
            class="input"
            placeholder="City"
          />
        </label>
      </div>
      <div class="col-1"></div>
      <div class="col-2">
        <label class="input-wrapper">
          <div class="input-header">
            <span class="input__title">County</span>
          </div>
          <input
            name="county"
            formControlName="county"
            class="input"
            placeholder="County"
          />
        </label>
      </div>
      <div class="col-1"></div>
      <div class="col-2">
        <label class="input-wrapper">
          <div class="input-header">
            <span class="input__title">Country</span>
          </div>
          <input
            name="country"
            formControlName="country"
            class="input"
            placeholder="Country"
          />
        </label>
      </div>
      <div class="col-1"></div>
      <div class="col-2">
        <label class="input-wrapper">
          <div class="input-header">
            <span class="input__title">Postcode</span>
          </div>
          <input
            name="postcode"
            formControlName="postcode"
            class="input"
            placeholder="Postcode"
          />
        </label>
      </div>
      <div class="col-1"></div>
      <div class="col-2">
        <label class="input-wrapper">
          <div class="input-header">
            <span class="input__title">Email</span>
          </div>
          <input
            name="email"
            formControlName="email"
            class="input"
            placeholder="Email"
          />
        </label>
      </div>
      <div class="col-1"></div>
    </div>
    <div *ngIf="this._router.url == '/users/users/create'">
      <button mat-raised-button color="primary" type="submit">Create</button>
    </div>
    <div *ngIf="this._router.url != '/users/users/create'">
      <button mat-raised-button color="primary" (click)="save()" type="button">
        Save
      </button>
    </div>
  </form>
</div>
