<div class="flex">
  <div class="start"><h1>Users</h1></div>
  <div class="end">
    <a routerLink="create"> <button mat-raised-button>Create</button></a>
  </div>
</div>
<ul *ngFor="let item of users$ | async" class="simple-bar">
  <li>{{ item.title }}</li>
  <li>{{ item.firstname }}</li>
  <li>{{ item.surname }}</li>
  <div class="end">
    <div class="m-r">
      <button mat-stroked-button color="warn" (click)="remove(item)">
        Remove
      </button>
    </div>
    <div>
      <button
        mat-stroked-button
        color="primary"
        type="button"
        [routerLink]="['user/', item._id]"
      >
        View
      </button>
    </div>
  </div>
</ul>
