.list__style {
  display: flex;
  div {
    margin-right: 10px;
    padding-bottom: 10px;
  }
}

.page__title {
  background-color: #fff;
}

li {
  list-style: none;
}

ul.simple-bar {
  padding: 15px 20px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background: #fff;
  border-radius: 4px;
  margin-bottom: 10px;
  font-size: 1rem;
  position: relative;
  border: 1px solid #c6c7c7;
  cursor: pointer;
  li {
    padding-right: 10px;
  }
}

ul.simple-bar:hover,
ul.simple-bar:focus-within {
  background-color: #f4f8fb;
}
