<div class="animate animate-pop">
  <div class="login-container--wrapper">
    <div class="login-container">
      <form class="login" [formGroup]="accountForm" (ngSubmit)="onSubmit()">
        <div class="input-wrapper m-sb">
          <label>Username</label>
          <input
            type="text"
            autocomplete="username"
            formControlName="username"
            name="Username"
          />
        </div>
        <div class="input-wrapper">
          <label>Password</label>
          <input
            type="password"
            #passwordInput
            name="password"
            formControlName="password"
            autocomplete="current-password"
          />
        </div>
        <div>
          <div class="m-sb">
            <button type="submit" mat-flat-button color="primary">
              Create
            </button>
          </div>
          <div class="flex" [routerLink]="'/account/login'">
            <button type="button" mat-stroked-button>Login</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
